# Assessing the number of missing values

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
!pwd

/home/mrcharles/eICU Bleeding/Feature Engineering

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import pandas as pd
import numpy as np
from scipy import stats
from costum_utils import future_checker
import tqdm

## NOTE

This notebook follows rughly the same steps of Feature_Engineering_eICU. For more details look over there.

# 1. Data import

We start by importing the dataset and subset it to the columns matching eICU cohort

In [4]:
df = pd.read_csv('./MIMIC/mimic.csv',sep=',')
df.drop('Unnamed: 0',axis=1,inplace=True)

df.set_index('ICUSTAY_ID',inplace=True)

df = df[['time', 'ALBUMIN', 'BUN', 'CREATININE', 'GLUCOSE', 'BICARBONATE',
       'HEMATOCRIT', 'HEMOGLOBIN', 'INR', 'LACTATE', 'PLATELET', 'POTASSIUM',
       'PTT', 'WBC', 'AmountTransfused', 'TempC', 'HEARTRATE', 'RespRate',
       'SysBP', 'DiasBP', 'MeanBP', 'crystalloid_bolus', 'gender',
       'admission_age']]

# 2. Creating X and y

## 2.1 Preprocessing

Taking care of duplicate hours: some patients report multiple entries for the same hour of an icu stay. With the code below we collapse those observation into a unique one. Note that different features require differnt collapsing procedure (ex: AumountTransfusion is summed and labs values are averaged)

In [ ]:
start_time = 0
end_time = 3

In [5]:
#summed features
sum_features = ['crystalloid_bolus','AmountTransfused']
temp = df[df['time']<=end_time].copy()
temp['temp_index'] = df[df['time']<=end_time].index
temp = temp.groupby(['temp_index','time'],as_index=False).sum()
temp.set_index('temp_index',inplace=True)


#other
other_features =['time', 'ALBUMIN', 'BUN', 'CREATININE', 'GLUCOSE', 'BICARBONATE',
       'HEMATOCRIT', 'HEMOGLOBIN', 'INR', 'LACTATE', 'PLATELET', 'POTASSIUM',
       'PTT', 'WBC', 'TempC', 'HEARTRATE', 'RespRate',
       'SysBP', 'DiasBP', 'MeanBP', 'gender',
       'admission_age']

temp2 = df[df['time']<=end_time].copy()
temp2['temp_index'] = df[df['time']<=end_time].index
temp2 = temp2.groupby(['temp_index','time'],as_index=False).max()
temp2.set_index('temp_index',inplace=True)



#reshaping
df = pd.DataFrame(index=temp.index)
df[other_features] = temp2[other_features]
df[sum_features]=temp[sum_features]

In [6]:
df.time.value_counts()

-1    4333
 1    4333
 0    4333
 2    4328
 3    4326
Name: time, dtype: int64

Observing the output of the previuos line we observe that the dataset is not homogeneous. We now add empty lines to account for this

In [7]:
time = [x for x in range(-1,end_time+1)]
for i in df.index.unique():
    
        
        if(df.loc[i].shape[0] <len(teime)):

            missing = [x for x in time if x not in df.loc[i].time.values]
            to_add = pd.DataFrame(missing, columns = ['time'],index = [i]*len(missing))
            df = pd.concat([df,to_add])


#since we added df timeslots we need to reorder the dataset
df['temp_axis'] = df.index

df.sort_values(by=['temp_axis','time'],inplace=True)
df.drop('temp_axis',axis=1,inplace=True)

Let us now impute stati feature in the records added above

In [8]:
for i in df.index.unique(): 
    df.loc[i,['gender']] =np.nanmean(df.loc[i,['gender']])
    
for i in df.index.unique(): 
    df.loc[i,['admission_age']] =np.nanmean(df.loc[i,['admission_age']])

Finally let us check whether now the time format is homogeneous

In [9]:
df.time.value_counts()

-1    4333
 3    4333
 2    4333
 1    4333
 0    4333
Name: time, dtype: int64

## 2.2 Imputation

Let us first take care of the imputation of data prior to ICU admission. We start by taking care of lab values

In [10]:
#LABS - compute values to impute
pre_imputation=[
('ALBUMIN',np.nanmedian),
('BUN',np.nanmedian),
('CREATININE',np.nanmedian),
('GLUCOSE',np.nanmedian),
('BICARBONATE',np.nanmedian),
('HEMATOCRIT',np.nanmedian),
('HEMOGLOBIN',np.nanmedian),
('INR',np.nanmedian),
('LACTATE',np.nanmedian),
('PLATELET',np.nanmedian),
('POTASSIUM',np.nanmedian),
('PTT',np.nanmedian),
('WBC',np.nanmedian)
]

#save them in a dictionary
imputation_value_dict = {}

for i,j in pre_imputation:
    imputation_value_dict[i] = j(df[df['time']==-1][i].values)

#impute values
for j in tqdm.tqdm(df.index.unique()):
    
    for i,_ in pre_imputation:
        
        if(math.isnan(df.loc[(df.index==j) & (df.time==-1),i].values)):
            df.loc[(df.index==j) & (df.time==-1),i]=imputation_value_dict[i]

100%|██████████| 4333/4333 [00:53<00:00, 80.92it/s]

Since vitals prior to ICU admisssion are usually not available, we impute this data by looking at the distribution of parameters one hour ahead

In [11]:
#VITALS - compute the values to impute
periodic_pre_impute=[
('TempC',np.nanmedian),
('HEARTRATE',np.nanmedian),
('RespRate',np.nanmedian),
('SysBP',np.nanmedian),
('DiasBP',np.nanmedian),
('MeanBP',np.nanmedian)
]

imputation_value_dict = {}

#compute the values to impute from next hour
for i,j in periodic_pre_impute:
    imputation_value_dict[i] = j(df[df['time']==0][i].values)

    
#impute values    
for j in tqdm.tqdm(df.index.unique()):
    
    for i,_ in periodic_pre_impute:
        
        if(math.isnan(df.loc[(df.index==j) & (df.time==-1),i].values)):
            df.loc[(df.index==j) & (df.time==-1),i]=imputation_value_dict[i]

100%|██████████| 4333/4333 [00:33<00:00, 130.49it/s]

Some feature are not prone to fill forward procedure:

In [12]:
df['crystalloid_bolus'].fillna(0,inplace=True)
df['AmountTransfused'].fillna(0,inplace=True)

Let us now dynamically impute the remaining values

In [13]:
for i in tqdm.tqdm(df.index.unique()):
    df.loc[i]=df.loc[i].fillna(method='ffill')

100%|██████████| 4333/4333 [00:31<00:00, 137.11it/s]

In [14]:
#raw export
df.to_csv('raw_x_0_3_MIMIC.csv')

## 2.3 Feature collapsing

Let us now collapse the time series featrues in one unique observations according to the criteria chosen below

In [15]:
collapsed = pd.DataFrame(index=df.index.unique())

features_list = [
    #('gender', np.nanmin),
    ('ALBUMIN',np.nanmean),
    ('BUN', np.nanmax),
    ('CREATININE', np.nanmax),
    ('GLUCOSE',np.nanmean),
    ('BICARBONATE', np.nanmin),
    ('HEMATOCRIT', np.nanmin),
    ('HEMOGLOBIN', np.nanmin),
    ('INR',np.nanmean),
    ('LACTATE',np.nanmean),
    ('PLATELET', np.nanmin),
    ('POTASSIUM', np.nanmax),
    ('PTT', np.nanmax),
    ('WBC', np.nanmean),
    ('AmountTransfused', np.nansum),
    ('TempC', np.nanmin),
    ('HEARTRATE', np.nanmax),
    ('RespRate', np.nanmax),
    ('SysBP', np.nanmin),
    ('DiasBP',np.nanmean),
    ('MeanBP', np.nanmean),
    ('crystalloid_bolus',np.nansum),
    ('gender',np.nanmin),
    ('admission_age', np.nanmin),
]


to_concat = []
grouped = df.groupby(df.index)
for feature, function in features_list:
    to_concat.append(grouped[[feature]].apply(function))
  
collapsed = pd.concat([collapsed] + to_concat, axis=1, join='inner')

col_names =[x[0] for x in features_list]
collapsed.columns = col_names

In [16]:
collapsed

,ALBUMIN,BUN,CREATININE,GLUCOSE,BICARBONATE,HEMATOCRIT,HEMOGLOBIN,INR,LACTATE,PLATELET,...,AmountTransfused,TempC,HEARTRATE,RespRate,SysBP,DiasBP,MeanBP,crystalloid_bolus,gender,admission_age
200010,3.20,13.0,1.0,187.0,25.0,27.0,8.9,1.14,2.275,251.0,...,0.000000,36.666667,112.0,19.0,122.000000,72.200000,89.657143,1012.000000,1.0,27.0
200014,2.96,31.5,1.2,121.6,24.0,28.5,9.5,1.18,1.725,130.0,...,0.000000,34.749999,89.0,19.0,106.375000,61.990476,82.277390,1280.000000,0.0,85.0
200039,3.20,3.0,0.5,215.0,30.0,30.8,10.7,1.10,2.275,370.0,...,0.000000,36.666667,101.0,21.0,122.000000,58.866667,82.701583,0.000000,1.0,69.0
200079,3.20,31.5,1.2,133.0,24.0,28.5,9.5,1.30,2.275,237.0,...,375.000013,36.250000,89.0,20.0,104.666667,58.866667,74.657143,0.000000,0.0,83.0
200160,3.20,33.0,0.9,114.0,21.0,23.8,8.0,1.30,2.275,353.0,...,279.000000,36.527778,89.0,21.0,122.000000,79.633333,94.471429,250.000000,1.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299828,1.80,29.0,2.8,92.0,18.0,27.7,9.0,1.70,2.275,117.0,...,700.000000,35.611110,103.0,19.0,87.000000,60.800000,75.857143,0.000000,0.0,43.0
299853,2.90,72.0,1.4,154.0,22.0,21.5,7.9,1.20,2.890,240.0,...,350.000000,36.000000,89.0,25.0,122.000000,57.600000,77.057143,9.363636,0.0,86.0
299865,3.90,33.0,1.0,227.0,28.0,39.7,13.7,1.30,2.275,217.0,...,0.000000,36.666667,128.0,25.5,122.000000,72.000000,88.257143,510.000000,0.0,46.0
299931,4.50,43.0,1.7,111.0,27.0,23.0,8.3,3.20,2.275,331.0,...,725.000000,36.666667,89.0,19.0,83.000000,58.600000,74.457143,10.000000,0.0,65.0
299956,3.20,34.0,1.8,188.0,20.0,28.1,9.4,5.58,2.900,185.0,...,0.000000,35.833333,103.5,26.0,99.333333,62.366667,76.438095,1510.500000,0.0,56.0

## 2.4 Feature engineering

We now add additional features in order to improve the performance of the classifier and capture temporal patterns. Namely we compute the inercept and slope of a lienar fit on the time series available. Before doing so we need to recode the informations about age and gender in order to exclude them in the subsequent analysis

In [17]:
df['gender'] = df['gender'].astype('int')
df['admission_age'] = df['admission_age'].astype('int')

Compute now the df features

In [18]:
#trend features
trend_features = pd.DataFrame(index=df.index.unique())

import warnings
with warnings.catch_warnings():
    
    warnings.simplefilter("ignore")
    
    exclusion_list = ['time','AmountTransfused','crystalloid_bolus']
    
    #select the columns of which we should make feature engineering
    for col in df.select_dtypes('float').columns.tolist():
        
        print(col)
        list_fit=[]
        
        if(col not in exclusion_list):
        
            #for each patient compute intercept and slope
            for ind in df.index.unique():

                    temp=df.loc[ind]
                    

                    value = np.polyfit(temp[col],temp.time,1)
                    list_fit.append(value)


            #make the labels
            label_slope = 'slope_'+col
            label_int = 'intercept_'+col

            #add the features
            trend_features[label_int] = [x[0] for x in list_fit]
            trend_features[label_slope] = [x[1] for x in list_fit]
            
        else:
            
            pass

ALBUMIN
BUN
CREATININE
GLUCOSE
BICARBONATE
HEMATOCRIT
HEMOGLOBIN
INR
LACTATE
PLATELET
POTASSIUM
PTT
WBC
TempC
HEARTRATE
RespRate
SysBP
DiasBP
MeanBP
crystalloid_bolus
AmountTransfused

## 2.5 Final feature merging

In [19]:
to_export = pd.concat([collapsed] + [trend_features] , axis=1, join='inner')

In [20]:
to_export.columns

Index(['ALBUMIN', 'BUN', 'CREATININE', 'GLUCOSE', 'BICARBONATE', 'HEMATOCRIT',
       'HEMOGLOBIN', 'INR', 'LACTATE', 'PLATELET', 'POTASSIUM', 'PTT', 'WBC',
       'AmountTransfused', 'TempC', 'HEARTRATE', 'RespRate', 'SysBP', 'DiasBP',
       'MeanBP', 'crystalloid_bolus', 'gender', 'admission_age',
       'intercept_ALBUMIN', 'slope_ALBUMIN', 'intercept_BUN', 'slope_BUN',
       'intercept_CREATININE', 'slope_CREATININE', 'intercept_GLUCOSE',
       'slope_GLUCOSE', 'intercept_BICARBONATE', 'slope_BICARBONATE',
       'intercept_HEMATOCRIT', 'slope_HEMATOCRIT', 'intercept_HEMOGLOBIN',
       'slope_HEMOGLOBIN', 'intercept_INR', 'slope_INR', 'intercept_LACTATE',
       'slope_LACTATE', 'intercept_PLATELET', 'slope_PLATELET',
       'intercept_POTASSIUM', 'slope_POTASSIUM', 'intercept_PTT', 'slope_PTT',
       'intercept_WBC', 'slope_WBC', 'intercept_TempC', 'slope_TempC',
       'intercept_HEARTRATE', 'slope_HEARTRATE', 'intercept_RespRate',
       'slope_RespRate', 'intercept_SysBP', 'slope_SysBP', 'intercept_DiasBP',
       'slope_DiasBP', 'intercept_MeanBP', 'slope_MeanBP'],
      dtype='object')

In [21]:
to_export

,ALBUMIN,BUN,CREATININE,GLUCOSE,BICARBONATE,HEMATOCRIT,HEMOGLOBIN,INR,LACTATE,PLATELET,...,intercept_HEARTRATE,slope_HEARTRATE,intercept_RespRate,slope_RespRate,intercept_SysBP,slope_SysBP,intercept_DiasBP,slope_DiasBP,intercept_MeanBP,slope_MeanBP
200010,3.20,13.0,1.0,187.0,25.0,27.0,8.9,1.14,2.275,251.0,...,0.111842,-9.960526,-0.782374,14.978417,0.089509,-10.833056,0.080983,-4.846959,0.096552,-7.656614
200014,2.96,31.5,1.2,121.6,24.0,28.5,9.5,1.18,1.725,130.0,...,-0.118480,9.447654,-0.282392,4.416944,-0.017693,3.150997,-0.056544,4.505190,0.005546,0.543697
200039,3.20,3.0,0.5,215.0,30.0,30.8,10.7,1.10,2.275,370.0,...,0.215232,-18.973510,0.625000,-11.125000,0.076423,-9.301840,-0.625000,37.791667,0.180961,-13.965786
200079,3.20,31.5,1.2,133.0,24.0,28.5,9.5,1.30,2.275,237.0,...,-0.223214,19.928571,3.000000,-57.000000,-0.151066,18.483412,-0.455607,27.820093,-0.206049,16.383044
200160,3.20,33.0,0.9,114.0,21.0,23.8,8.0,1.30,2.275,353.0,...,-0.127207,10.973001,0.285714,-4.428571,0.047455,-5.504470,0.049858,-2.970331,0.059220,-4.594586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299828,1.80,29.0,2.8,92.0,18.0,27.7,9.0,1.70,2.275,117.0,...,0.184136,-16.364023,-1.000000,19.000000,-0.038271,5.393463,0.789474,-47.000000,-0.224528,18.032075
299853,2.90,72.0,1.4,154.0,22.0,21.5,7.9,1.20,2.890,240.0,...,-0.283641,25.591689,0.134409,-1.594086,0.239362,-29.111702,-0.383212,23.072993,-0.348898,27.885100
299865,3.90,33.0,1.0,227.0,28.0,39.7,13.7,1.30,2.275,217.0,...,0.066290,-5.907424,0.322581,-5.483871,0.103579,-12.575817,0.078035,-4.618497,0.112317,-8.912797
299931,4.50,43.0,1.7,111.0,27.0,23.0,8.3,3.20,2.275,331.0,...,-0.112903,10.032258,-0.326087,6.347826,-0.077139,9.654979,-0.067446,4.952338,-0.104118,8.752341
299956,3.20,34.0,1.8,188.0,20.0,28.1,9.4,5.58,2.900,185.0,...,0.030192,-1.833028,0.043605,0.071221,-0.084407,11.033218,0.032794,-1.045256,-0.176673,14.504572

## 2.6 Making the y's

In [22]:
y = pd.read_csv('./MIMIC/mimic.csv',sep=',')
y.drop('Unnamed: 0',axis=1,inplace=True)

y.set_index('ICUSTAY_ID',inplace=True)

y = y[['time', 'ALBUMIN', 'BUN', 'CREATININE', 'GLUCOSE', 'BICARBONATE',
       'HEMATOCRIT', 'HEMOGLOBIN', 'INR', 'LACTATE', 'PLATELET', 'POTASSIUM',
       'PTT', 'WBC', 'AmountTransfused', 'TempC', 'HEARTRATE', 'RespRate',
       'SysBP', 'DiasBP', 'MeanBP', 'crystalloid_bolus', 'gender',
       'admission_age']]

Before starting we have to check wheter, for some patients, there could be no data after the 3rd hour of ICU. Those patients are to be removed both from Xs and ys

In [23]:
to_drop = future_checker(y,end_time+1)
y = y[y.time >=end_time+1]

Remove those indexes

In [24]:
X= to_export.drop(to_drop)

Create than the y by looking who has a positive amount of blood transfusion

In [25]:
y['temp_index'] = y.index
y=y[['temp_index','AmountTransfused']].groupby(['temp_index']).sum()

In [26]:
y

            AmountTransfused
temp_index
200010              0.000000
200014              0.000000
200039              0.000000
200079            750.000000
200160            375.000000
...                      ...
299828              0.000000
299853           3714.999955
299865            750.000000
299931            375.000000
299956            283.000002

[4323 rows x 1 columns]

In [27]:
temp_index = y.index.copy()
y = [int(x) for x in (y>0).values]
y = pd.Series(y)
y.index = temp_index
y.name = 'outcome'

## 2.7 Final checks and export

In [28]:
y.head()

temp_index
200010    0
200014    0
200039    0
200079    1
200160    1
Name: outcome, dtype: int64

Let us check that the x's and the y's have the same dimension

In [29]:
X= X.merge(y,left_index=True,right_index=True)

y=X['outcome']
X = X.drop('outcome',axis=1)

In [30]:
X.shape

(4323, 61)

In [31]:
y.shape

(4323,)

In [32]:
X.to_csv('x_0_3_MIMIC.csv')
y.to_csv('y_4_24_MIMIC.csv')

# High transfusion dataset

In [33]:
transfused_idx = y[y==1].index

In [34]:
dataset = pd.read_csv('./MIMIC/mimic.csv',sep=',')
dataset.drop('Unnamed: 0',axis=1,inplace=True)

dataset.set_index('ICUSTAY_ID',inplace=True)

dataset = dataset[['time', 'ALBUMIN', 'BUN', 'CREATININE', 'GLUCOSE', 'BICARBONATE',
       'HEMATOCRIT', 'HEMOGLOBIN', 'INR', 'LACTATE', 'PLATELET', 'POTASSIUM',
       'PTT', 'WBC', 'AmountTransfused', 'TempC', 'HEARTRATE', 'RespRate',
       'SysBP', 'DiasBP', 'MeanBP', 'crystalloid_bolus', 'gender',
       'admission_age']]

In [35]:
#extract only transfused patients from the whole dataset
y_transfused = dataset.loc[transfused_idx].copy()

#subset the whole dataset to the columns of intrest
y_transfused = y_transfused[['time','AmountTransfused']]

#training set identic to the previous, need to extract different y's. Start by subsetting for time
y_transfused = y_transfused[y_transfused.time >=4]

#creat a temporary feature to use in groupby to aggregate measures
y_transfused['temp_index'] = y_transfused.index
y_transfused = y_transfused.drop('time',axis=1)
y_transfused = y_transfused.groupby('temp_index').sum()

In [36]:
#save indexes
temp_index = y_transfused.index

#trasform booleans in integers an create the series containing the outcomes
y_transfused= [int(x[0]) for x in (y_transfused>500).values]
y_transfused = pd.Series(y_transfused)
y_transfused.index = temp_index
y_transfused.name ='outcome'

In [37]:
#extract the relative X's from the previous dataset
X_transfused = X.loc[temp_index]

In [38]:
X_transfused.head()

,ALBUMIN,BUN,CREATININE,GLUCOSE,BICARBONATE,HEMATOCRIT,HEMOGLOBIN,INR,LACTATE,PLATELET,...,intercept_HEARTRATE,slope_HEARTRATE,intercept_RespRate,slope_RespRate,intercept_SysBP,slope_SysBP,intercept_DiasBP,slope_DiasBP,intercept_MeanBP,slope_MeanBP
temp_index,,,,,,,,,,,,,,,,,,,,,
200079,3.2,31.5,1.2,133.0,24.0,28.5,9.5,1.30,2.275,237.0,...,-0.223214,19.928571,3.000000,-57.000000,-0.151066,18.483412,-0.455607,27.820093,-0.206049,16.383044
200160,3.2,33.0,0.9,114.0,21.0,23.8,8.0,1.30,2.275,353.0,...,-0.127207,10.973001,0.285714,-4.428571,0.047455,-5.504470,0.049858,-2.970331,0.059220,-4.594586
200277,3.2,31.5,1.2,133.0,24.0,25.0,8.5,1.26,2.275,237.0,...,0.143172,-11.856828,0.090909,-0.545455,-0.212032,24.577909,-0.008399,1.508399,-0.242755,18.790499
200383,3.0,27.0,2.8,126.0,32.0,19.5,6.8,1.14,2.275,256.0,...,-0.104252,9.267171,0.520833,-9.833333,0.013555,-0.679512,-0.121702,7.389347,-0.128004,10.287606
200438,2.4,128.0,3.5,96.6,12.0,28.5,9.5,1.82,3.000,61.0,...,-0.074360,5.602855,0.207254,-4.305699,-0.079927,8.784853,-0.083386,4.346544,-0.087017,6.135657

In [39]:
y_transfused.head()

temp_index
200079    1
200160    0
200277    0
200383    1
200438    1
Name: outcome, dtype: int64

In [40]:
X_transfused.to_csv('Regression_x_0_3_MIMIC.csv')

In [41]:
X_transfused.to_csv('Regression_y_4_24_MIMIC.csv')